p {
  color: blue;
  font-size: 190%;
  border: 1px ridge lawngreen;
  padding: 1cm;
}
body {
  background-color: rgb(159, 24, 24);
}


#p2 {
  color: red;
}
.c2 {
  color: aqua;
}

h1 {
  text-align: center;
  line-height: 30px;
  color: aqua;
}
div {
  /* margin-left: auto;
    margin-right: auto; */
  /* width: 50%; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  /* text-align: center; */

}

table, th, td{
    border-spacing: 10px;
    border: 1px solid blue;
    border-collapse: collapse;
    padding: 15px;
    margin: 10px;
}